body {
  background-color: black;
  color: white;
}

hr{
background-color: black;
border-style: none;
border-width: 5px;
border-top-style: dotted;
width: 5%;
border-color: white;
}

img{
  border-radius: 300px;
}
